/* CreditCardsStyles.module.css */

/* Обертка для центрирования карточек */
.cardsWrapper {
    display: flex;
    justify-content: center;
    font-family: "ABeeZee", sans-serif;
  }
  
  /* Стили карточек */
  .cards {
    display: flex;
    margin-bottom: 61px;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Карточки будут занимать всю доступную ширину */
  }
  
  .card {
    width: 80%;
    height: 369px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 0.2px solid #eff5fe;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(50, 87, 164, 0.25) inset, 0px 20px 50px 0px rgba(73, 122, 226, 0.20);
    margin-right: -50px;
    margin-bottom: 29px;
    display: flex;
    overflow: hidden;
  }
  
  .image {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 15px 0 0 15px; /* Making the left corners rounded and the right corners square */
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Use styles.description to select the description class */
  .description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-family: "ABeeZee", sans-serif;
    padding-left: 15px; /* Adding a left padding to create a space between the image and text */
  }
  
  .description h2 {
    font-size: 20px; /* Increased font size for title */
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "ABeeZee", sans-serif;
  }
  
  .description p {
    font-size: 16px; /* Increased font size for description */
    color: #333;
    font-family: "ABeeZee", sans-serif;
  }
  
  /* Button styles */
.apply-button {
  display: flex;
  width: 257px;
  max-width: 90%; /* Add max-width property to make the button shrink */
  height: 60px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(356deg, #9f9df8 0%, #cdccfd 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
  
  