.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "ABeeZee", sans-serif;

  }
  